<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Healthcareapp"
        tools:targetApi="31">
        <activity
            android:name=".admin.add.NewSpecialtyActivity"
            android:exported="false" />
        <activity
            android:name=".admin.add.NewDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".admin.edit.EditDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".admin.FindDoctorAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.add.NewArticlesActivity"
            android:exported="false" />
        <activity
            android:name=".admin.edit.EditProductActivity"
            android:exported="false" />
        <activity
            android:name=".admin.add.NewProductActivity"
            android:exported="false" />
        <activity
            android:name=".admin.HealthArticlesAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.FindDoctorSpecialityAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.BuyMedicineAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.LabTestAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminPanelActivity"
            android:exported="false" />
        <activity
            android:name=".user.HealthArticlesDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".user.HealthArticlesActivity"
            android:exported="false" />
        <activity
            android:name=".user.BuyMedicineBookActivity"
            android:exported="false" />
        <activity
            android:name=".user.BuyMedicineDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".user.CartBuyMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".user.BuyMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".user.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".user.LabTestBookActivity"
            android:exported="false" />
        <activity
            android:name=".user.CartLabTestActivity"
            android:exported="false" />
        <activity
            android:name=".user.LabTestDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".user.LabTestActivity"
            android:exported="false" />
        <activity
            android:name=".user.BookAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".user.DoctorsDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".user.FindDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".user.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>